VITE_CLERK_PUBLISHABLE_KEY=
VITE_BASE_SEARCH_URL=http://localhost:8080/api/search-books?q=
VITE_BASE_SEARCH_INFO=http://localhost:8080/api/bookInfo/
VITE_BASE_ADD_WISHLIST=http://localhost:8080/api/secure/like-book
VITE_BASE_GET_LIKED_BOOKS=http://localhost:8080/api/liked?email=
NODE_ENV=development